In [29]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sk

In [30]:
df1 = pd.read_csv("personality_datasert.csv")

In [31]:
df1

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,4.0,No,4.0,6.0,No,13.0,5.0,Extrovert
1,9.0,Yes,0.0,0.0,Yes,0.0,3.0,Introvert
2,9.0,Yes,1.0,2.0,Yes,5.0,2.0,Introvert
3,0.0,No,6.0,7.0,No,14.0,8.0,Extrovert
4,3.0,No,9.0,4.0,No,8.0,5.0,Extrovert
...,...,...,...,...,...,...,...,...
2895,3.0,No,7.0,6.0,No,6.0,6.0,Extrovert
2896,3.0,No,8.0,3.0,No,14.0,9.0,Extrovert
2897,4.0,Yes,1.0,1.0,Yes,4.0,0.0,Introvert
2898,11.0,Yes,1.0,3.0,Yes,2.0,0.0,Introvert
2899,3.0,No,6.0,6.0,No,6.0,9.0,Extrovert

In [32]:
for col in df1.columns:
    print(df1[col].unique())

[ 4.        9.        0.        3.        1.        2.       10.
  6.        5.        8.        4.505816  7.       11.      ]
['No' 'Yes']
[ 4.          0.          1.          6.          9.          7.
  8.          3.          5.          2.         10.          3.96335447]
[6. 0. 2. 7. 4. 5. 3. 1.]
['No' 'Yes']
[13.          0.          5.         14.          8.          6.
  7.         15.          4.         10.          1.         12.
  2.         11.          9.          3.          6.26886291]
[ 5.          3.          2.          8.          6.          7.
  0.         10.          4.          1.          9.          3.56472663]
['Extrovert' 'Introvert']

In [34]:
df_one_hot = df1.copy()

In [10]:
df_one_hot = pd.get_dummies(df1,columns=one_hot)

In [35]:
df_one_hot.dropna(inplace=True)

In [36]:
df_one_hot['Personality'] = df_one_hot['Personality'].map({'Introvert': 0, 'Extrovert': 1})

In [37]:
df_one_hot['Stage_fear'] = df_one_hot['Stage_fear'].map({'No': 0, 'Yes': 1})

In [38]:
df_one_hot['Drained_after_socializing'] = df_one_hot['Drained_after_socializing'].map({'No': 0, 'Yes': 1})

In [39]:
df_one_hot

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,4.0,0,4.0,6.0,0,13.0,5.0,1
1,9.0,1,0.0,0.0,1,0.0,3.0,0
2,9.0,1,1.0,2.0,1,5.0,2.0,0
3,0.0,0,6.0,7.0,0,14.0,8.0,1
4,3.0,0,9.0,4.0,0,8.0,5.0,1
...,...,...,...,...,...,...,...,...
2895,3.0,0,7.0,6.0,0,6.0,6.0,1
2896,3.0,0,8.0,3.0,0,14.0,9.0,1
2897,4.0,1,1.0,1.0,1,4.0,0.0,0
2898,11.0,1,1.0,3.0,1,2.0,0.0,0
2899,3.0,0,6.0,6.0,0,6.0,9.0,1

In [40]:
df_one_hot.corr()

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
Time_spent_Alone,1.000000,0.834469,-0.718139,-0.735247,0.832117,-0.701665,-0.718072,-0.712468
Stage_fear,0.834469,1.000000,-0.831737,-0.855403,0.956518,-0.810046,-0.826483,-0.847467
Social_event_attendance,-0.718139,-0.831737,1.000000,0.731941,-0.830611,0.718518,0.727732,0.721520
Going_outside,-0.735247,-0.855403,0.731941,1.000000,-0.852969,0.718327,0.754758,0.739251
Drained_after_socializing,0.832117,0.956518,-0.830611,-0.852969,1.000000,-0.805234,-0.823028,-0.845388
Friends_circle_size,-0.701665,-0.810046,0.718518,0.718327,-0.805234,1.000000,0.690381,0.687203
Post_frequency,-0.718072,-0.826483,0.727732,0.754758,-0.823028,0.690381,1.000000,0.721062
Personality,-0.712468,-0.847467,0.721520,0.739251,-0.845388,0.687203,0.721062,1.000000

In [41]:
X = df_one_hot.drop('Personality', axis=1)
y = df_one_hot['Personality']
X

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency
0,4.0,0,4.0,6.0,0,13.0,5.0
1,9.0,1,0.0,0.0,1,0.0,3.0
2,9.0,1,1.0,2.0,1,5.0,2.0
3,0.0,0,6.0,7.0,0,14.0,8.0
4,3.0,0,9.0,4.0,0,8.0,5.0
...,...,...,...,...,...,...,...
2895,3.0,0,7.0,6.0,0,6.0,6.0
2896,3.0,0,8.0,3.0,0,14.0,9.0
2897,4.0,1,1.0,1.0,1,4.0,0.0
2898,11.0,1,1.0,3.0,1,2.0,0.0
2899,3.0,0,6.0,6.0,0,6.0,9.0

In [28]:
np.unique(X['Friends_circle_size'])

array([ 0.        ,  1.        ,  2.        ,  3.        ,  4.        ,
        5.        ,  6.        ,  6.26886291,  7.        ,  8.        ,
        9.        , 10.        , 11.        , 12.        , 13.        ,
       14.        , 15.        ])

In [42]:

normalizador = sk.preprocessing.MinMaxScaler()

X_norm = normalizador.fit_transform(X)

In [43]:
import joblib

joblib.dump(normalizador, 'normalizador_scaler.pkl')

['normalizador_scaler.pkl']

In [44]:
X_treino, X_teste, y_treino, y_teste = sk.model_selection.train_test_split(X_norm, y, test_size=0.2, random_state=42)

In [45]:
pd.DataFrame(X_treino)

             0    1    2         3    4         5    6
0     0.272727  0.0  0.5  0.857143  0.0  0.666667  0.9
1     0.545455  1.0  0.3  0.428571  1.0  0.066667  0.0
2     0.909091  1.0  0.2  0.285714  1.0  0.066667  0.0
3     0.818182  1.0  0.1  0.285714  1.0  0.200000  0.1
4     0.909091  1.0  0.0  0.000000  1.0  0.266667  0.1
...        ...  ...  ...       ...  ...       ...  ...
2315  0.181818  0.0  0.7  0.571429  0.0  0.800000  0.8
2316  0.000000  0.0  0.7  0.571429  0.0  0.933333  0.6
2317  1.000000  1.0  0.1  0.142857  1.0  0.266667  0.2
2318  0.909091  1.0  0.3  0.142857  1.0  0.333333  0.0
2319  0.363636  1.0  0.2  0.142857  1.0  0.200000  0.1

[2320 rows x 7 columns]

In [46]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(10, activation='relu', input_shape=(X_treino.shape[1],)),
    tf.keras.layers.Dense(10, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

c:\Users\Leoso\Downloads\projArthur\venv\lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [47]:
model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=0.001), loss='binary_crossentropy', metrics=['accuracy'])

In [48]:
model.fit(X_treino, y_treino, epochs=20, batch_size=32)

Epoch 1/20
73/73 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8079 - loss: 0.6305
Epoch 2/20
73/73 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9408 - loss: 0.3906
Epoch 3/20
73/73 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9370 - loss: 0.2704
Epoch 4/20
73/73 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9236 - loss: 0.2839
Epoch 5/20
73/73 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9362 - loss: 0.2518
Epoch 6/20
73/73 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9376 - loss: 0.2468
Epoch 7/20
73/73 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9474 - loss: 0.2191
Epoch 8/20
73/73 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9273 - loss: 0.2749
Epoch 9/20
73/73 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9227 - loss: 0.2842
Epoch 10/20
73/73 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9301 - loss: 0.2590
Epoch 11/20
73/73 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9336 - loss: 0.2546
Epoch 12/20
73/73 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9319 - loss: 0.2590
Epoch 13/20
73/73 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9266 - loss: 0.2706
Epoch 14/20
73/73 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9257 - loss: 0.2721
Epoch 15/20
73/73 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9297 - loss: 0.2646
Epoch 16/20
73/73 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9370 - loss: 0.2414
Epoch 17/20
73/73 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9378 - loss: 0.2394
Epoch 18/20
73/73 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9363 - loss: 0.2428
Epoch 19/20
73/73 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9322 - loss: 0.2539
Epoch 20/20
73/73 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9357 - loss: 0.2476

In [49]:
model.evaluate(X_teste, y_teste)

19/19 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9311 - loss: 0.2567

[0.2588460147380829, 0.9293103218078613]

In [54]:
model.save('model.keras')